.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px 0;
    margin-bottom: 50px;

    &__group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10px;

        input {
            padding: 10px 10px;
        }

        span {
            color: red;
            font-size: 12px;
        }

        textarea {
            width: 300px;
            height: 100px;
            border-radius: 10px;
        }
    }

    &__contact-head {
        font-size: 40px;
        margin: 0 0 50px 50px;
    }

    &-submit {
        @include btn;
        background-color: $black-color;
        color: white;
        margin-bottom: 10px;

        &:hover {
            background-color: $gray-color;
            color: $black-color;
        }
    }
}