.hero {
    &__content {
        background: url('../assets/img/hero.jpg') top center / cover no-repeat;
        color: $white-color;
        padding: 50px 0 30px 50px;
    }

    &__title {
        margin-bottom: 29px;
        font-weight: 900;
        font-style: italic;
    }

    &__subtitle {
        max-width: 100%;
        width: 560px;
        line-height: 25px;
        font-size: 20px;
        font-weight: 900;
        padding-bottom: 40px;
    }

    &__btn {
        @include btn
    }

    &__img-mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .hero {
        &__content {
            background: url('../assets/img/hero-2-mobile.png') top center / cover no-repeat;
        }

        &__img-mobile {
            display: block;
        }
    }
}